* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.dasbor-fixeds {
    overflow: hidden;
    background-color: #fcfafa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px;
}

.dasbor-fixeds a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#kotaksetting {
    background-color: rgb(204, 204, 204);
    height: 400px;
    width: 40%;
    padding: 20px;
    margin-top: 200px;
    margin-left: 29%;
    clear: both;
}

.dalam {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.dalam a {
    font-size: 23px;
    text-decoration: none;
    color: black;
}

/* .menu-setting {
    width: 200px;
  }
  
  .menu-setting a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .menu-setting a:hover {
    background-color: #ccc;
  }
  
  .menu-setting a.active {
    background-color: #4CAF50;
    color: white;
  } */